.inner {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px 0;
  width: 70px;
  height: 80px;
  cursor: pointer;
  font-size: 0;
}
.fonts {
  font-size: 14px;
}
.male {
  background-color: #a4ecff;
}
.female {
  background-color: #fdaed8;
}
