.allPersons {
  /* padding: 20px; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.back {
  cursor: pointer;
  color: blue;
  position:absolute;
  right: 50px;
}
