.allPersons {
  background-color: rgb(187, 191, 197);
  padding: 50px;
}
.inner {
  display: flex;
  flex: 1;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px 0;
  width: 70px;
  height: 80px;
  cursor: pointer;
  margin: 10px;
}
.male {
  background-color: blue;
}
.female {
  background-color: palevioletred;
}
